<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Flask Lungs Demo </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
<header class="navbar">
  <form action="/upload" method="post" enctype="multipart/form-data" >
      <span class="btn btn-default btn-file">
        Browse <input type="file" name="image">
      </span>
    <!-- <p><label><input type="checkbox" name="negative"/> "Negative"</label></p> --!>
<!--      <a><label><input type="checkbox" name="positive"/> "Positive"</label></a>  --!>

    <input type="submit" value="Upload your image" class="btn btn-primary">

  </form>



</header>
<img src="{{ url_for('uploads', filename=user_image)}}" alt="Prepared_image">
</body>
</html>
